/* Estilos globais */
body {
    background-color: #172654; 
    font-family: "Arial", sans-serif; 
    color: #000000; 
}

/* Estilos para o menu lateral */
.sidebar {
    width: 200px; 
    height: 100%;
    background-color: #363636;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999; /* Ajusta a camada z-index para sobrepor o conteúdo */
    transition: width 0.3s ease; 
}

/* Estilos para o logotipo */
.logo img {
    width: 150px;
}

/* Estilos para os itens do menu */
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
}
.sidebar ul li {
    width: 100%;
}
.sidebar ul li a {
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 12px;
    background-color: #D9D9D9;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}
.sidebar ul li a:hover {
    background-color: #6a6a6a;
    border-color: #555;
}
.sidebar ul li a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.toggle-menu {
    display: none;
}

/* Conteúdo */
.content {
    margin-left: 200px; 
    margin-top: 50px;
    padding: 50px;
    border: 1px solid #fff;
    background-color: #C5C5C5;
    border-radius: 5px;
    color: #000000;
}

/* Estilos para tabelas */
.table-container {
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Adiciona bordas arredondadas às primeiras e últimas células */
.table-container table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}
.table-container table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}
.table-container table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
.table-container table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

/* Estilos para botões */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #286ff3;
    color: #ffffff;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 20px;
}

.button:hover {
    background-color: #1056d6;
}
