/* Estilos globais */
body {
    background-color: #172654; /* Azul escuro para o fundo */
    font-family: "Arial", sans-serif; /* Fonte padrão */
    color: #000000; /* Cor do texto global */
}

/* Estilos para o menu lateral */
.sidebar {
    width: 200px; /* Largura padrão da barra lateral */
    height: 100%;
    background-color: #363636;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999; /* Ajusta a camada z-index para sobrepor o conteúdo */
    transition: width 0.3s ease; /* Adiciona uma transição suave na largura */
}

/* Estilos para o logotipo */
.logo img {
    width: 150px; /* Ajuste conforme necessário */
}

/* Estilos para os itens do menu */
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px; /* Espaçamento acima dos itens do menu */
}

.sidebar ul li {
    width: 100%; /* Ocupa toda a largura do menu */
}

.sidebar ul li a {
    color: #000000; /* Cor do texto */
    text-decoration: none;
    display: flex; /* Faz com que os itens do menu se comportem como flex containers */
    align-items: center; /* Alinha os itens verticalmente */
    justify-content: center; /* Centraliza o texto */
    border-radius: 20px; /* Adiciona bordas arredondadas */
    padding: 12px; /* Espaçamento interno */
    background-color: #D9D9D9; /* Cor de fundo do botão */
    margin-bottom: 10px; /* Espaçamento entre os itens do menu */
    transition: all 0.3s ease; /* Adiciona uma transição suave */
}

.sidebar ul li a:hover {
    background-color: #6a6a6a; /* Cor de fundo ao passar o mouse */
    border-color: #555; /* Altera a cor da borda ao passar o mouse */
}

.sidebar ul li a img {
    width: 20px; /* Largura da imagem reduzida */
    height: 20px; /* Altura da imagem reduzida */
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
}

/* Botão de toggle para abrir e fechar o menu em dispositivos menores */
.toggle-menu {
    display: none; /* Esconde o botão em telas maiores */
}

/* Todo o conteúdo */
.content {
    margin-left: 200px; /* Ajusta a margem esquerda para deixar espaço para o menu lateral */
    margin-top: 50px; /* Adiciona espaço superior para separar o conteúdo do menu */
    padding: 50px;
    border: 1px solid #fff; /* Adiciona uma borda de 1px sólida branca */
    background-color: #C5C5C5; /* Cor de fundo ao passar o mouse */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    color: #000000; /* Cor do texto */
}

/* Estilos para tabelas */
.table-container {
    width: 100%;
    max-width: 1000px; /* Largura máxima da tabela */
    overflow: hidden; /* Previne que as bordas arredondadas sejam cortadas */
    border-radius: 10px; /* Bordas arredondadas para a tabela */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra para dar um efeito visual */
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0; /* Remove o espaço entre as células para que o border-radius funcione */
}

th, td {
    padding: 12px; /* Espaçamento dentro das células */
    border: 1px solid #ddd; /* Bordas das células */
    text-align: center; /* Alinhamento do texto */
}

th {
    background-color: #f4f4f4; /* Cor de fundo do cabeçalho */
    font-weight: bold; /* Negrito para o texto do cabeçalho */
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Cor de fundo alternada para as linhas pares */
}

/* Adiciona bordas arredondadas às primeiras e últimas células */
.table-container table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

.table-container table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

.table-container table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.table-container table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

/* Estilos para botões */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #286ff3;
    color: #ffffff;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
    margin-right: 20px; /* Espaçamento à direita do título */
}

.button:hover {
    background-color: #1056d6;
}
