/* Estilos para o menu lateral */
.sidebar {
    width: 200px; /* Largura padrão da barra lateral */
    height: 100%;
    background-color: #363636;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999; /* Ajusta a camada z-index para sobrepor o conteúdo */
    transition: width 0.3s ease; /* Adiciona uma transição suave na largura */
}

/* Estilos para o logotipo */
.logo img {
    width: 150px; /* Ajuste conforme necessário */
}

/* Estilos para os itens do menu */
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px; /* Espaçamento acima dos itens do menu */
}

.sidebar ul li {
    width: 100%; /* Ocupa toda a largura do menu */
}

.sidebar ul li a {
    color: black; /* Cor do texto */
    text-decoration: none;
    display: flex; /* Faz com que os itens do menu se comportem como flex containers */
    align-items: center; /* Alinha os itens verticalmente */
    justify-content: flex-start; /* Alinha o texto à esquerda */
    border-radius: 20px; /* Adiciona bordas arredondadas */
    padding: 10px; /* Espaçamento interno */
    background-color: #D9D9D9; /* Cor de fundo do botão */
    margin-bottom: 10px; /* Espaçamento entre os itens do menu */
    transition: all 0.3s ease; /* Adiciona uma transição suave */
}

.sidebar ul li a:hover {
    background-color: #6a6a6a; /* Cor de fundo ao passar o mouse */
    border-color: #555; /* Altera a cor da borda ao passar o mouse */
}

.sidebar ul li a img {
    width: 20px; /* Largura da imagem reduzida */
    height: 20px; /* Altura da imagem reduzida */
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
}

/* Botão de toggle para abrir e fechar o menu em dispositivos menores */
.toggle-menu {
    display: none; /* Esconde o botão em telas maiores */
}

/* Todo o conteúdo */
.content {
    margin-left: 200px; /* Ajusta a margem esquerda para deixar espaço para o menu lateral */
    margin-top: 50px; /* Adiciona espaço superior para separar o conteúdo do menu */
    padding: 50px;
    border: 1px solid #fff; /* Adiciona uma borda de 1px sólida branca */
    background-color: #C5C5C5; /* Cor de fundo ao passar o mouse */
    border-radius: 5px; /* Adiciona bordas arredondadas */
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 60px; /* Reduz a largura do menu para melhorar a responsividade */
        padding-top: 10px; /* Ajusta o espaçamento superior */
    }

    .sidebar ul li a {
        padding: 8px; /* Reduz o espaçamento interno dos itens do menu */
        font-size: 12px; /* Reduz o tamanho da fonte */
    }

    .sidebar ul li a img {
        width: 16px; /* Reduz a largura da imagem */
        height: 16px; /* Reduz a altura da imagem */
    }

    .content {
        margin-left: 60px; /* Ajusta a margem esquerda para deixar espaço para o menu lateral */
    }

    .toggle-menu {
        display: block; /* Exibe o botão de toggle */
        position: fixed;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 9999; /* Garante que o botão esteja acima de outros elementos */
    }
}
