{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="text-align: right; margin-bottom: 10px;">
	<h1 style="text-align: left; margin-top: 20px;">Lista de Jornadas de Trabalho</h1>

	<a href="{% url 'work-period-create' %}">
		<button class="button">
			Cadastrar Jornada
		</button>
	</a>
</div>
<div class="table-container">
	<table>
		<thead>
			<tr>
				<th>Motorista</th>
				<th>Data de Criação</th>
				<th>Início do Período</th>
				<th>Fim do Período</th>
				<th>Assinatura Responsável</th>
				<th>Ação</th>
			</tr>
		</thead>

		<tbody>
			{% for work_period in work_periods %}
			<tr>
				<td>{{ work_period.driver.name }}</td>
				<td>{{ work_period.created_at }}</td>
				<td>{{ work_period.periodStart }}</td>
				<td>{{ work_period.periodEnd }}</td>
				<td>{{ work_period.responsibleSignature }}</td>
				<td>
					<form method="get" action="{% url 'work-period-delete' work_period.id %}" style="display:inline;">
						{% csrf_token %}
						<button type="submit" class="delete-button" title="Delete">
							<img src="{% static 'imagens/ImgDelete.png' %}" alt="Delete" style="width:20px;height:20px;">
						</button>
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
