{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="text-align: right; margin-bottom: 10px;">
	<h1 style="text-align: left; margin-top: 20px;">Lista de Multas Tipificadas</h1>

	<a href="{% url 'ticket-type-create' %}">
		<button class="button">
			Cadastrar Multa Tipificada
		</button>
	</a>
</div>
<div class="table-container">
	<table>
		<thead>
			<tr>
				<th>Código</th>
				<th>Descrição</th>
				<th>Base Legal</th>
				<th>Classificação</th>
				<th>Ação</th>
			</tr>
		</thead>
		<tbody>
			{% for ticket_type in ticket_types %}
			<tr>
				<td>{{ ticket_type.code }}</td>
				<td>{{ ticket_type.description }}</td>
				<td>{{ ticket_type.legal_basis }}</td>
				<td>{{ ticket_type.classification }}</td>
				<td>
					<form method="get" action="{% url 'ticket-type-delete' ticket_type.id %}" style="display:inline;">
						{% csrf_token %}
						<button type="submit" class="delete-button" title="Delete">
							<img src="{% static 'imagens/ImgDelete.png' %}" alt="Delete" style="width:20px;height:20px;">
						</button>
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
