{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="text-align: right; margin-bottom: 10px;">
	<h1 style="text-align: left; margin-top: 20px;">Lista de Motoristas</h1>

	<a href="{% url 'driver-create' %}">
		<button class="button">
			Cadastrar Motorista
		</button>
	</a>
</div>
<div class="table-container">
	<table>
		<thead>
			<tr>
				<th>Nome</th>
				<th>CPF</th>
				<th>Data de Nascimento</th>
				<th>CNH</th>
				<th>Tipo de Habilitação</th>
				<th>Cliente Relacionado</th>
				<th>Ação</th>
			</tr>
		</thead>
		<tbody>
			{% for driver in drivers %}
			<tr>
				<td>{{ driver.name }}</td>
				<td>{{ driver.cpf }}</td>
				<td>{{ driver.birth_date }}</td>
				<td>{{ driver.cnh }}</td>
				<td>{{ driver.license_type }}</td>
				<td>{{ driver.client.name }}</td>
				<td>
					<form method="get" action="{% url 'driver-delete' driver.id %}" style="display:inline;">
						{% csrf_token %}
						<button type="submit" class="delete-button" title="Delete">
							<img src="{% static 'imagens/ImgDelete.png' %}" alt="Delete" style="width:20px;height:20px;">
						</button>
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
