/* --Menuzinho lá-- */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #172654; /* Cor de fundo do body */
    font-family: Arial, sans-serif; /* Fonte para o texto */
}

/* --Texto na parte de cima-- */
.login-container {
    text-align: center;
}

/* --Estilo da caixa no centro--*/
.login-form {
    background-color: #ffffff; /* Cor de fundo do formulário */
    padding: 30px;
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
    max-width: 500px;
    width: 100%;
}

.login-form h2 {
    margin-bottom: 10px;
    text-align: center;
    color: #333; /* Cor do título */
}

.form-group {
    margin-bottom: 15px;
    margin-right: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666; /* Cor do texto do label */
}

.form-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #b8b8b8; /* Borda cinza */
    border-radius: 4px;
}

button {
    background-color: #286ff3; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1056d6; /* Cor de fundo do botão ao passar o mouse */
}
