{% extends 'base.html' %}

{% block content %}
<h1>Cadastro de Cliente</h1>

<form method="post">
    {% csrf_token %}

    <div class="topic-container">
        <h2>Informações Gerais</h2>
        <hr>
        {{ form.client_type.label_tag }}
        {{ form.client_type }}
        <br><br>
        {{ form.name.label_tag }}
        {{ form.name }}
        <br><br>
        {{ form.active.label_tag }}
        {{ form.active }}
        <br><br>
        {{ form.defaulting.label_tag }}
        {{ form.defaulting }}
        <br><br>
        {{ form.truck_count.label_tag }}
        {{ form.truck_count }}
        <br><br>

        <div id="pj_fields" style="display: none;">
            {{ form.cnpj.label_tag }}
            {{ form.cnpj }}
            <br><br>
            {{ form.trade_name.label_tag }}
            {{ form.trade_name }}
            <br><br>
            {{ form.business_registration.label_tag }}
            {{ form.business_registration }}
            <br><br>
        </div>

        <div id="pf_fields" style="display: none;">
            {{ form.cpf.label_tag }}
            {{ form.cpf }}
            <br><br>
            {{ form.birth_date.label_tag }}
            {{ form.birth_date}}
            <br><br>
        </div>
    </div>

    <div class="topic-container">
        <h2>Contato</h2>
        <hr>
        {{ form.contact.management_form }}
        {% for formset in form.contact %}
            {{ formset.id }}
            {{ formset.name.label_tag }}
            {{ formset.name }}
            <br><br>
            {{ formset.role.label_tag }}
            {{ formset.role }}
            <br><br>
            {{ formset.email.label_tag }}
            {{ formset.email }}
            <br><br>
            {{ formset.phone.label_tag }}
            {{ formset.phone }}
            {{ formset.phone_alt.label_tag }}
            {{ formset.phone_alt }}
            <br><br>

            {% for error in formset.errors %}
                <div>{{ error }}</div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="topic-container">
        <h2>Endereço</h2>
        <hr>
        {{ form.address.management_form }}
        {% for formset in form.address %}
            {{ formset.id }}
            {{ formset.street.label_tag }}
            {{ formset.street }}
            {{ formset.number.label_tag }}
            {{ formset.number }}
            <br><br>
            {{ formset.city.label_tag }}
            {{ formset.city }}
            {{ formset.state.label_tag }}
            {{ formset.state }}
			<br><br>
            {{ formset.neighborhood.label_tag }}
            {{ formset.neighborhood }}
            <br><br>
            {{ formset.complement.label_tag }}
            {{ formset.complement }}
            <br><br>
            {{ formset.reference_point.label_tag }}
            {{ formset.reference_point }}
            <br><br>

            {% for error in formset.errors %}
                <div>{{ error }}</div>
            {% endfor %}
        {% endfor %}
    </div>

    <button type="submit">Salvar</button>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var clientTypeField = document.querySelector('#id_client_type');
        var pjFields = document.querySelector('#pj_fields');
        var pfFields = document.querySelector('#pf_fields');

        function toggleFields() {
            if (clientTypeField.value === 'PJ') {
                pjFields.style.display = 'block';
                pfFields.style.display = 'none';
            } else if (clientTypeField.value === 'PF') {
                pjFields.style.display = 'none';
                pfFields.style.display = 'block';
            }
        }

        clientTypeField.addEventListener('change', toggleFields);
        toggleFields();
    });
</script>
{% endblock %}
