{% extends 'base.html' %}
<!-- Não está sendo usado -->
<!-- Não está sendo usado -->
<!-- Não está sendo usado -->
{% block content %}
<h1>Cadastrar Frota</h1>

<form method="post">
    {% csrf_token %}

    {{ form.placa.label_tag }}
    {{ form.placa }}
    <br><br>
    {{ form.modelo.label_tag }}
    {{ form.modelo }}
    <br><br>
    {{ form.ano.label_tag }}
    {{ form.ano }}
    <br><br>
    
    {{ form.cor.label_tag }}
    {{ form.cor }}
    <br><br>

    <button type="submit">Salvar</button>
</form>

{% endblock %}