{% extends 'base.html' %}

{% block content %}
<div style="text-align: right; margin-bottom: 10px;">
    <h1 style="text-align: left; margin-top: 20px;">Lista de Clientes</h1>
    <a href="{% url 'cadastrar_cliente' %}">
        <button class="button">
            Cadastrar Cliente
        </button>
    </a>
</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>CNPJ</th>
                <th>Tipo da Empresa</th>
                <th>Ativa</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop para exibir os clientes -->
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.cnpj }}</td>
                <td>{{ cliente.tipo_empresa }}</td>
                <td>{{ cliente.ativa }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
