{% extends 'base.html' %}

{% block content %}
<div class="dashboard">
    <h1>Dashboard</h1>
    <hr>
    <h2>Motoristas</h2>
    <p>Número de Motoristas: {{ num_motoristas }}</p>
    <p>Número de Motoristas Ativos: {{ num_motoristas_ativos }}</p>
    <p>Número de Motoristas Desativados: {{ num_motoristas_desativados }}</p>
    <hr>
    <h2>Frota</h2>
    <p>Frota Total: {{ frota_total }}</p>
    <p>Frota Ativa: {{ frota_ativa }}</p>
    <p>Frota em Manutenção: {{ frota_manutencao }}</p>
    <hr>
    <h2>Diários de Bordo</h2>
    <p>Número de Diários Cadastrados: {{ num_diarios_cadastrados }}</p>
    <p>Número de Diários Assinados nesse Mês: {{ num_diarios_assinados_mes }}</p>
    <hr>
    <h2>Multas</h2>
    <p>Número Total de Multas: {{ num_multas_total }}</p>
    <p>Número de Multas por Mês: {{ num_multas_ultimo_mes }}</p>
    <p>Número de Multas no Último Mês: {{ num_multas_ultimo_mes }}</p>
    <p>Número de Multas Ativas: {{ num_multas_ativas }}</p>
    <p>Número de Multas Terminadas: {{ num_multas_terminadas }}</p>
</div>
{% endblock %}