<!-- multas.html -->
{% extends 'base.html' %}

{% block content %}
<div style="text-align: right; margin-bottom: 10px;">
    <h1 style="text-align: left; margin-top: 20px;">Lista de Multas</h1>
    <a href="{% url 'cadastrar_multa' %}" class="button">
        <span>Cadastrar Multa</span>
    </a>
</div>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Veículo</th>
                <th>Motorista</th>
                <th>Placa do Veículo</th>
                <th>Vencimento</th>
                <th>Data da Infração</th>
                <th>Código Denatran</th>
                <th>Código Atuador</th>
                <th>Status Judicial</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop para exibir as multas -->
            {% for multa in multas %}
            <tr>
                <td>{{ multa.motorista.nome }}</td>
                <td>{{ multa.license_plate }}</td>
                <td>{{ multa.due_date }}</td>
                <td>{{ multa.infraction_datetime }}</td>
                <td>{{ multa.infraction_location }}</td>
                <td>{{ multa.denatran_agency_code }}</td>
                <td>{{ multa.autuador_agency_code }}</td>
                <td>{{ multa.judicial_status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
