{% extends 'base.html' %}

{% block content %}
<div style="text-align: right; margin-bottom: 10px;">
    <h1 style="text-align: left; margin-top: 20px;">Lista de Multas </h1>
    <a href="{% url 'cadastrar_multa' %}">
        <button class="button">
            Cadastrar Multas
        </button>
    </a>
</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>CNH</th>
                <th>Estatus Judicial</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop para exibir os motoristas -->
            <!-- Não tem nada nesses dados, tem q ver se funciona -->
            {% for motoristas in dados_motoristas %}
            <tr>
                <td>{{ motorista.nome }}</td>
                <td>{{ motorista.CPF }}</td>
                <td>{{ motorista.CNH }}</td>
                <td>{{ multa.ativa }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}