{% extends 'base.html' %}

{% block content %}
<h1>Cadastrar Jornada</h1>

<form method="post">
    {% csrf_token %}
    
    <div class="form-section">
        {{ form.responsibleSignature.label_tag }}
        {{ form.responsibleSignature }}
        <br><br>
        {{ form.periodStart.label_tag }}
        {{ form.periodStart }}
        <br><br>
        {{ form.periodEnd.label_tag }}
        {{ form.periodEnd }}
        <br><br>
        {{ form.driver.label_tag }}
        {{ form.driver }}
    </div>
    
    <button type="submit">Salvar</button>
</form>

{% endblock %}
